/* GENERAL SETTINGS *********************************************************************************/

body {
	margin: 0;
	font-family: Corbel;
}

.centered {
	position: absolute;
	left: 50%;
	margin-left: -460px;
}

.rigid-element {
	width: 920px;
	background-image: url(../images/wood.jpg);
}

input[type=text], input[type=password] {
	font-family: Corbel;
	background-color: white;
	border: 1px solid gray;
	padding: 5px 10px 5px 10px;
	display: block;
	opacity: 0.7;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus {
	box-shadow: 0px 0px 1px 1px #9498FB inset;
}

.button {
	background-color: #EAEAEA;
	border: 1px solid #ACACAC;
	padding: 5px 10px 5px 10px;
	display: inline-block;
	font-weight: bold;
}

input[type=submit] {
	background-color: #EAEAEA;
	border: 1px solid #ACACAC;
	display: inline-block;
	font-weight: bold;
	
	font-family: Corbel;
}

.button:hover, input[type=submit]:hover {
	background-color: #E2EFFC;
	border: 1px solid #7EB4EA;
	font-weight: bold;
	color: #9498FB;
}

textarea {
	resize: none;
	background-color: white;
	border: 1px solid #ACACAC;
	padding: 5px 10px 5px 10px;
	opacity: 0.7;
}

a:visited {
     color: inherit;
}

/* BACKGROUND & TABS SETTINGS **********************************************************************/

#background {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: -1;
	
	background-image: url(../images/background11.jpg);
	background-position: center;
}

.tab {
	position: fixed;
	z-index: 2;
	height: 400px;
	
	background-color: #3D3E67;
}

/***************************************************************************************************/